@import '../../../../../src/styles/typography';

$size: 18px;

input {
  width: $size;
  height: $size;
  margin: 0;
  padding: 0;
  opacity: 0;
  &:focus {
    outline: none;
  }
}

.check {
  @include fontStack();
  @include defaultFontSize();

  border: 1px solid lightgray;
  border-radius: 3px;
  width: $size;
  height: $size;
  display: flex;
  position: relative;
}

.label {
  margin-left: 10px;
  color: #636668;
}

i {
  @include materialIcons();
  position: absolute;
  font-size: 17px;
  width: 17px;
  height: 17px;
  margin: auto;
  left: -50%;
  right: -50%;
  pointer-events: none;
  color: #ffffff;
}

.active {
  border: 1px solid #00c95a;
  background-color: #00c95a;
}

.inactive {
  background-color: #ffffff;
}

.neutral {

}